---
import Layout from "../../layouts/Layout.astro";

import { allActivites } from "../../../backend/backend.mjs";
import Hero from "../../components/Hero.astro";
const activites = await allActivites();
console.log(activites);
---

<Layout>
  <Hero />
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4 text-xs">
    {
      activites.map((activite) => (
        <div class="p-4 m-4 bg-gray-200 border border-gray-300 flex flex-col rounded-xl shadow-lg">
          <ul class="flex flex-col items-center justify-between h-full">
            <li>
              <img
                src={activite.imgUrl}
                alt={`Image de l'activité ${activite.titre}`}
                class="w-full h-auto mb-3 rounded-xl"
              />
            </li>
            <li class="text-center text-black font-bold">{activite.titre}</li>
            <li class="text-center text-gray-700">{activite.type}</li>
          </ul>
          <a
            href={`/activites/${activite.id}`}
            class="block text-center text-black rounded-xl border-2 border-yellow-400 bg-white px-4 py-2 mt-4 font-bold hover:bg-yellow-400 transition"
          >
            Découvrir l'activité
          </a>
        </div>
      ))
    }
  </div>
</Layout>